<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Flameworker needs access to your photo library to let you upload custom images for your glass inventory items.</string>
	<key>NSCameraUsageDescription</key>
	<string>Flameworker needs access to your camera to let you take photos of your glass inventory items.</string>
</dict>
</plist>
