<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Molten.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F53C0BB02EA7FB020020E1AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F551A4262E9DAA1A00C9C2F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F55B2F442E8F335D00C8059F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5A13C4A2E890146002C0F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D3D6362E9DCB0100DAA195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5FACB0A2EA0B4830084A6D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
